overpass_response.xml
overpass_response_truncate.xml
overpass_response_round.xml
filtered_bluetooth_data.csv
filtered_bluetooth_data_truncate.csv
filtered_bluetooth_data_round.csv
bluetooth2.csv
5decimal.py
